body{
  min-width: 320px;
   position: relative;
  font-family: "RobotoRegular", sans-serif;
  overflow-x: hidden;
}

p{
  font-size: 17px;
  line-height: 1.7;
}

.logo{
  position:fixed;
  margin-left:5%;
  color:red;
  font-size:1.5em;
}
.main-head{
  margin: 0 auto;
  background-repeat: no-repeat;
  width: 100%;
 }

.head_text h1{
  font-size:5em;


}

.head_text{
  position:absolute;
  z-index:11;
  width:90%;
  display:block;
  text-align:right;
  margin-top:15%;

}

.head_img{
  min-width: 750px;
   width: 100%;
}

.main_menu, .h_head{
  position:absolute;

}

 .collum_body{
   text-align: center;
   width: 90%;
   }

.m_text{
  margin: 0 auto;
  width: 70%;
}
.top_text{
  width: 70%;
  margin: 0 auto;
  padding: 12px 0 0px;
  text-align: center;
  line-height: 20px;
}
.video_content{
  width: 90%;
  margin: 0 auto;;
}

 .foto_content{
   margin: 0 auto;
   width: 100%;
 }



.main_menu {
  text-align: right;
  margin: 0 auto;
  padding: 18px 0px 10px;
  z-index: 5;
  position: fixed;
  width: 100%;
  background-image: url("../img/bg_menu.png");
}

.main_menu li{
  padding: 0px 10px 0px;
  display: inline;

}
.container-fluid{
  overflow: hidden;
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.flex-direction-nav, .flex-control-nav{
  position: absolute;
  display: none;
}
.slides li{
  overflow:hidden;
  width: 100%;
}
.row{
  margin-top: -10px;
  margin-right: -20px;
  margin-left: -40px;
}
.slides img{
      width: 100%;
}
.cont_menu{
  padding: 5px 0px 0px 0px;
width: 87%;
}

 @media only screen and (max-width: 767px) {
   .cont_menu_li{
     margin-left:-50px;
   }
   .cont_menu{
     width:100%;
     padding: 5px 0px 0px 0px;
   }
.logo{
  display: none;
}
.head_text{
  display: none;
}
.main_menu{
  text-align: center;
}

.main_menu li{
  padding: 0px 3px 0px;
  display: inline;}
.row{
  margin-top: -10px;
  margin-right: -20px;
  margin-left: -20px;
}
.slides li{
  margin-left: -20px;
}
.slides img{
  margin-left: -60px;
  width: 1000px;
}

  .h_head{
   text-align:right;
   width:90%;
}
.m_text{
  width: 90%;
  margin: 0 auto;
  padding: 12px 0 0px;
  text-align: center;
  line-height: 20px;
}

.head_img{
  min-width: 800px;
  margin-left: -50px;
}

.video_content{
  width: 100%;
  margin: 0 auto;;
}


.collum_body{
  text-align: center;
  width: 100%;
  }


}
